<a href="https://colab.research.google.com/github/joung-jaeeun/py20/blob/master/ch3_exercises_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [0]:
# [Q1] Code  
shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [9]:
# [Q2] Code
num = 0
product = 0
sum = 0
while product < 999:
  num = num + 1
  product = num * 3
  sum += product
  print("1부터 1000까지의 자연수 중 3의 배수의 합은 %d " %sum)

1부터 1000까지의 자연수 중 3의 배수의 합은 3
1부터 1000까지의 자연수 중 3의 배수의 합은 9
1부터 1000까지의 자연수 중 3의 배수의 합은 18
1부터 1000까지의 자연수 중 3의 배수의 합은 30
1부터 1000까지의 자연수 중 3의 배수의 합은 45
1부터 1000까지의 자연수 중 3의 배수의 합은 63
1부터 1000까지의 자연수 중 3의 배수의 합은 84
1부터 1000까지의 자연수 중 3의 배수의 합은 108
1부터 1000까지의 자연수 중 3의 배수의 합은 135
1부터 1000까지의 자연수 중 3의 배수의 합은 165
1부터 1000까지의 자연수 중 3의 배수의 합은 198
1부터 1000까지의 자연수 중 3의 배수의 합은 234
1부터 1000까지의 자연수 중 3의 배수의 합은 273
1부터 1000까지의 자연수 중 3의 배수의 합은 315
1부터 1000까지의 자연수 중 3의 배수의 합은 360
1부터 1000까지의 자연수 중 3의 배수의 합은 408
1부터 1000까지의 자연수 중 3의 배수의 합은 459
1부터 1000까지의 자연수 중 3의 배수의 합은 513
1부터 1000까지의 자연수 중 3의 배수의 합은 570
1부터 1000까지의 자연수 중 3의 배수의 합은 630
1부터 1000까지의 자연수 중 3의 배수의 합은 693
1부터 1000까지의 자연수 중 3의 배수의 합은 759
1부터 1000까지의 자연수 중 3의 배수의 합은 828
1부터 1000까지의 자연수 중 3의 배수의 합은 900
1부터 1000까지의 자연수 중 3의 배수의 합은 975
1부터 1000까지의 자연수 중 3의 배수의 합은 1053
1부터 1000까지의 자연수 중 3의 배수의 합은 1134
1부터 1000까지의 자연수 중 3의 배수의 합은 1218
1부터 1000까지의 자연수 중 3의 배수의 합은 1305
1부터 1000까지의 자연수 중 3의 배수의 합은 1395
1부터 1000까지의 자연수 중 3의 배수의 합은 1488
1부터 1000까지의 자연수 중 3의 배수의 합은 1584
1부터 1000까지의 자연수 중 3의 배수의 합은 1683
1부터 1000까지의 자연수 중 3의 배수의 합은 1785
1부터 1000까지의 자연수 중 3의 배수의 합은 1890
1부터 1000까지의 자연수 중 3의 배수의 합은 1998
1부터 1000까지의 자연수 중 3의 배수의 합은 2109
1부터 1000까지의 자연수 중 3의 배수의 합은 2223
1부터 1000까지의 자연수 중 3의 배수의 합은 2340
1부터 1000까지의 자연수 중 3의 배수의 합은 2460
1부터 1000까지의 자연수 중 3의 배수의 합은 2583
1부터 1000까지의 자연수 중 3의 배수의 합은 2709
1부터 1000까지의 자연수 중 3의 배수의 합은 2838
1부터 1000까지의 자연수 중 3의 배수의 합은 2970
1부터 1000까지의 자연수 중 3의 배수의 합은 3105
1부터 1000까지의 자연수 중 3의 배수의 합은 3243
1부터 1000까지의 자연수 중 3의 배수의 합은 3384
1부터 1000까지의 자연수 중 3의 배수의 합은 3528
1부터 1000까지의 자연수 중 3의 배수의 합은 3675
1부터 1000까지의 자연수 중 3의 배수의 합은 3825
1부터 1000까지의 자연수 중 3의 배수의 합은 3978
1부터 1000까지의 자연수 중 3의 배수의 합은 4134
1부터 1000까지의 자연수 중 3의 배수의 합은 4293
1부터 1000까지의 자연수 중 3의 배수의 합은 4455
1부터 1000까지의 자연수 중 3의 배수의 합은 4620
1부터 1000까지의 자연수 중 3의 배수의 합은 4788
1부터 1000까지의 자연수 중 3의 배수의 합은 4959
1부터 1000까지의 자연수 중 3의 배수의 합은 5133
1부터 1000까지의 자연수 중 3의 배수의 합은 5310
1부터 1000까지의 자연수 중 3의 배수의 합은 5490
1부터 1000까지의 자연수 중 3의 배수의 합은 5673
1부터 1000까지의 자연수 중 3의 배수의 합은 5859
1부터 1000까지의 자연수 중 3의 배수의 합은 6048
1부터 1000까지의 자연수 중 3의 배수의 합은 6240
1부터 1000까지의 자연수 중 3의 배수의 합은 6435
1부터 1000까지의 자연수 중 3의 배수의 합은 6633
1부터 1000까지의 자연수 중 3의 배수의 합은 6834
1부터 1000까지의 자연수 중 3의 배수의 합은 7038
1부터 1000까지의 자연수 중 3의 배수의 합은 7245
1부터 1000까지의 자연수 중 3의 배수의 합은 7455
1부터 1000까지의 자연수 중 3의 배수의 합은 7668
1부터 1000까지의 자연수 중 3의 배수의 합은 7884
1부터 1000까지의 자연수 중 3의 배수의 합은 8103
1부터 1000까지의 자연수 중 3의 배수의 합은 8325
1부터 1000까지의 자연수 중 3의 배수의 합은 8550
1부터 1000까지의 자연수 중 3의 배수의 합은 8778
1부터 1000까지의 자연수 중 3의 배수의 합은 9009
1부터 1000까지의 자연수 중 3의 배수의 합은 9243
1부터 1000까지의 자연수 중 3의 배수의 합은 9480
1부터 1000까지의 자연수 중 3의 배수의 합은 9720
1부터 1000까지의 자연수 중 3의 배수의 합은 9963
1부터 1000까지의 자연수 중 3의 배수의 합은 10209
1부터 1000까지의 자연수 중 3의 배수의 합은 10458
1부터 1000까지의 자연수 중 3의 배수의 합은 10710
1부터 1000까지의 자연수 중 3의 배수의 합은 10965
1부터 1000까지의 자연수 중 3의 배수의 합은 11223
1부터 1000까지의 자연수 중 3의 배수의 합은 11484
1부터 1000까지의 자연수 중 3의 배수의 합은 11748
1부터 1000까지의 자연수 중 3의 배수의 합은 12015
1부터 1000까지의 자연수 중 3의 배수의 합은 12285
1부터 1000까지의 자연수 중 3의 배수의 합은 12558
1부터 1000까지의 자연수 중 3의 배수의 합은 12834
1부터 1000까지의 자연수 중 3의 배수의 합은 13113
1부터 1000까지의 자연수 중 3의 배수의 합은 13395
1부터 1000까지의 자연수 중 3의 배수의 합은 13680
1부터 1000까지의 자연수 중 3의 배수의 합은 13968
1부터 1000까지의 자연수 중 3의 배수의 합은 14259
1부터 1000까지의 자연수 중 3의 배수의 합은 14553
1부터 1000까지의 자연수 중 3의 배수의 합은 14850
1부터 1000까지의 자연수 중 3의 배수의 합은 15150
1부터 1000까지의 자연수 중 3의 배수의 합은 15453
1부터 1000까지의 자연수 중 3의 배수의 합은 15759
1부터 1000까지의 자연수 중 3의 배수의 합은 16068
1부터 1000까지의 자연수 중 3의 배수의 합은 16380
1부터 1000까지의 자연수 중 3의 배수의 합은 16695
1부터 1000까지의 자연수 중 3의 배수의 합은 17013
1부터 1000까지의 자연수 중 3의 배수의 합은 17334
1부터 1000까지의 자연수 중 3의 배수의 합은 17658
1부터 1000까지의 자연수 중 3의 배수의 합은 17985
1부터 1000까지의 자연수 중 3의 배수의 합은 18315
1부터 1000까지의 자연수 중 3의 배수의 합은 18648
1부터 1000까지의 자연수 중 3의 배수의 합은 18984
1부터 1000까지의 자연수 중 3의 배수의 합은 19323
1부터 1000까지의 자연수 중 3의 배수의 합은 19665
1부터 1000까지의 자연수 중 3의 배수의 합은 20010
1부터 1000까지의 자연수 중 3의 배수의 합은 20358
1부터 1000까지의 자연수 중 3의 배수의 합은 20709
1부터 1000까지의 자연수 중 3의 배수의 합은 21063
1부터 1000까지의 자연수 중 3의 배수의 합은 21420
1부터 1000까지의 자연수 중 3의 배수의 합은 21780
1부터 1000까지의 자연수 중 3의 배수의 합은 22143
1부터 1000까지의 자연수 중 3의 배수의 합은 22509
1부터 1000까지의 자연수 중 3의 배수의 합은 22878
1부터 1000까지의 자연수 중 3의 배수의 합은 23250
1부터 1000까지의 자연수 중 3의 배수의 합은 23625
1부터 1000까지의 자연수 중 3의 배수의 합은 24003
1부터 1000까지의 자연수 중 3의 배수의 합은 24384
1부터 1000까지의 자연수 중 3의 배수의 합은 24768
1부터 1000까지의 자연수 중 3의 배수의 합은 25155
1부터 1000까지의 자연수 중 3의 배수의 합은 25545
1부터 1000까지의 자연수 중 3의 배수의 합은 25938
1부터 1000까지의 자연수 중 3의 배수의 합은 26334
1부터 1000까지의 자연수 중 3의 배수의 합은 26733
1부터 1000까지의 자연수 중 3의 배수의 합은 27135
1부터 1000까지의 자연수 중 3의 배수의 합은 27540
1부터 1000까지의 자연수 중 3의 배수의 합은 27948
1부터 1000까지의 자연수 중 3의 배수의 합은 28359
1부터 1000까지의 자연수 중 3의 배수의 합은 28773
1부터 1000까지의 자연수 중 3의 배수의 합은 29190
1부터 1000까지의 자연수 중 3의 배수의 합은 29610
1부터 1000까지의 자연수 중 3의 배수의 합은 30033
1부터 1000까지의 자연수 중 3의 배수의 합은 30459
1부터 1000까지의 자연수 중 3의 배수의 합은 30888
1부터 1000까지의 자연수 중 3의 배수의 합은 31320
1부터 1000까지의 자연수 중 3의 배수의 합은 31755
1부터 1000까지의 자연수 중 3의 배수의 합은 32193
1부터 1000까지의 자연수 중 3의 배수의 합은 32634
1부터 1000까지의 자연수 중 3의 배수의 합은 33078
1부터 1000까지의 자연수 중 3의 배수의 합은 33525
1부터 1000까지의 자연수 중 3의 배수의 합은 33975
1부터 1000까지의 자연수 중 3의 배수의 합은 34428
1부터 1000까지의 자연수 중 3의 배수의 합은 34884
1부터 1000까지의 자연수 중 3의 배수의 합은 35343
1부터 1000까지의 자연수 중 3의 배수의 합은 35805
1부터 1000까지의 자연수 중 3의 배수의 합은 36270
1부터 1000까지의 자연수 중 3의 배수의 합은 36738
1부터 1000까지의 자연수 중 3의 배수의 합은 37209
1부터 1000까지의 자연수 중 3의 배수의 합은 37683
1부터 1000까지의 자연수 중 3의 배수의 합은 38160
1부터 1000까지의 자연수 중 3의 배수의 합은 38640
1부터 1000까지의 자연수 중 3의 배수의 합은 39123
1부터 1000까지의 자연수 중 3의 배수의 합은 39609
1부터 1000까지의 자연수 중 3의 배수의 합은 40098
1부터 1000까지의 자연수 중 3의 배수의 합은 40590
1부터 1000까지의 자연수 중 3의 배수의 합은 41085
1부터 1000까지의 자연수 중 3의 배수의 합은 41583
1부터 1000까지의 자연수 중 3의 배수의 합은 42084
1부터 1000까지의 자연수 중 3의 배수의 합은 42588
1부터 1000까지의 자연수 중 3의 배수의 합은 43095
1부터 1000까지의 자연수 중 3의 배수의 합은 43605
1부터 1000까지의 자연수 중 3의 배수의 합은 44118
1부터 1000까지의 자연수 중 3의 배수의 합은 44634
1부터 1000까지의 자연수 중 3의 배수의 합은 45153
1부터 1000까지의 자연수 중 3의 배수의 합은 45675
1부터 1000까지의 자연수 중 3의 배수의 합은 46200
1부터 1000까지의 자연수 중 3의 배수의 합은 46728
1부터 1000까지의 자연수 중 3의 배수의 합은 47259
1부터 1000까지의 자연수 중 3의 배수의 합은 47793
1부터 1000까지의 자연수 중 3의 배수의 합은 48330
1부터 1000까지의 자연수 중 3의 배수의 합은 48870
1부터 1000까지의 자연수 중 3의 배수의 합은 49413
1부터 1000까지의 자연수 중 3의 배수의 합은 49959
1부터 1000까지의 자연수 중 3의 배수의 합은 50508
1부터 1000까지의 자연수 중 3의 배수의 합은 51060
1부터 1000까지의 자연수 중 3의 배수의 합은 51615
1부터 1000까지의 자연수 중 3의 배수의 합은 52173
1부터 1000까지의 자연수 중 3의 배수의 합은 52734
1부터 1000까지의 자연수 중 3의 배수의 합은 53298
1부터 1000까지의 자연수 중 3의 배수의 합은 53865
1부터 1000까지의 자연수 중 3의 배수의 합은 54435
1부터 1000까지의 자연수 중 3의 배수의 합은 55008
1부터 1000까지의 자연수 중 3의 배수의 합은 55584
1부터 1000까지의 자연수 중 3의 배수의 합은 56163
1부터 1000까지의 자연수 중 3의 배수의 합은 56745
1부터 1000까지의 자연수 중 3의 배수의 합은 57330
1부터 1000까지의 자연수 중 3의 배수의 합은 57918
1부터 1000까지의 자연수 중 3의 배수의 합은 58509
1부터 1000까지의 자연수 중 3의 배수의 합은 59103
1부터 1000까지의 자연수 중 3의 배수의 합은 59700
1부터 1000까지의 자연수 중 3의 배수의 합은 60300
1부터 1000까지의 자연수 중 3의 배수의 합은 60903
1부터 1000까지의 자연수 중 3의 배수의 합은 61509
1부터 1000까지의 자연수 중 3의 배수의 합은 62118
1부터 1000까지의 자연수 중 3의 배수의 합은 62730
1부터 1000까지의 자연수 중 3의 배수의 합은 63345
1부터 1000까지의 자연수 중 3의 배수의 합은 63963
1부터 1000까지의 자연수 중 3의 배수의 합은 64584
1부터 1000까지의 자연수 중 3의 배수의 합은 65208
1부터 1000까지의 자연수 중 3의 배수의 합은 65835
1부터 1000까지의 자연수 중 3의 배수의 합은 66465
1부터 1000까지의 자연수 중 3의 배수의 합은 67098
1부터 1000까지의 자연수 중 3의 배수의 합은 67734
1부터 1000까지의 자연수 중 3의 배수의 합은 68373
1부터 1000까지의 자연수 중 3의 배수의 합은 69015
1부터 1000까지의 자연수 중 3의 배수의 합은 69660
1부터 1000까지의 자연수 중 3의 배수의 합은 70308
1부터 1000까지의 자연수 중 3의 배수의 합은 70959
1부터 1000까지의 자연수 중 3의 배수의 합은 71613
1부터 1000까지의 자연수 중 3의 배수의 합은 72270
1부터 1000까지의 자연수 중 3의 배수의 합은 72930
1부터 1000까지의 자연수 중 3의 배수의 합은 73593
1부터 1000까지의 자연수 중 3의 배수의 합은 74259
1부터 1000까지의 자연수 중 3의 배수의 합은 74928
1부터 1000까지의 자연수 중 3의 배수의 합은 75600
1부터 1000까지의 자연수 중 3의 배수의 합은 76275
1부터 1000까지의 자연수 중 3의 배수의 합은 76953
1부터 1000까지의 자연수 중 3의 배수의 합은 77634
1부터 1000까지의 자연수 중 3의 배수의 합은 78318
1부터 1000까지의 자연수 중 3의 배수의 합은 79005
1부터 1000까지의 자연수 중 3의 배수의 합은 79695
1부터 1000까지의 자연수 중 3의 배수의 합은 80388
1부터 1000까지의 자연수 중 3의 배수의 합은 81084
1부터 1000까지의 자연수 중 3의 배수의 합은 81783
1부터 1000까지의 자연수 중 3의 배수의 합은 82485
1부터 1000까지의 자연수 중 3의 배수의 합은 83190
1부터 1000까지의 자연수 중 3의 배수의 합은 83898
1부터 1000까지의 자연수 중 3의 배수의 합은 84609
1부터 1000까지의 자연수 중 3의 배수의 합은 85323
1부터 1000까지의 자연수 중 3의 배수의 합은 86040
1부터 1000까지의 자연수 중 3의 배수의 합은 86760
1부터 1000까지의 자연수 중 3의 배수의 합은 87483
1부터 1000까지의 자연수 중 3의 배수의 합은 88209
1부터 1000까지의 자연수 중 3의 배수의 합은 88938
1부터 1000까지의 자연수 중 3의 배수의 합은 89670
1부터 1000까지의 자연수 중 3의 배수의 합은 90405
1부터 1000까지의 자연수 중 3의 배수의 합은 91143
1부터 1000까지의 자연수 중 3의 배수의 합은 91884
1부터 1000까지의 자연수 중 3의 배수의 합은 92628
1부터 1000까지의 자연수 중 3의 배수의 합은 93375
1부터 1000까지의 자연수 중 3의 배수의 합은 94125
1부터 1000까지의 자연수 중 3의 배수의 합은 94878
1부터 1000까지의 자연수 중 3의 배수의 합은 95634
1부터 1000까지의 자연수 중 3의 배수의 합은 96393
1부터 1000까지의 자연수 중 3의 배수의 합은 97155
1부터 1000까지의 자연수 중 3의 배수의 합은 97920
1부터 1000까지의 자연수 중 3의 배수의 합은 98688
1부터 1000까지의 자연수 중 3의 배수의 합은 99459
1부터 1000까지의 자연수 중 3의 배수의 합은 100233
1부터 1000까지의 자연수 중 3의 배수의 합은 101010
1부터 1000까지의 자연수 중 3의 배수의 합은 101790
1부터 1000까지의 자연수 중 3의 배수의 합은 102573
1부터 1000까지의 자연수 중 3의 배수의 합은 103359
1부터 1000까지의 자연수 중 3의 배수의 합은 104148
1부터 1000까지의 자연수 중 3의 배수의 합은 104940
1부터 1000까지의 자연수 중 3의 배수의 합은 105735
1부터 1000까지의 자연수 중 3의 배수의 합은 106533
1부터 1000까지의 자연수 중 3의 배수의 합은 107334
1부터 1000까지의 자연수 중 3의 배수의 합은 108138
1부터 1000까지의 자연수 중 3의 배수의 합은 108945
1부터 1000까지의 자연수 중 3의 배수의 합은 109755
1부터 1000까지의 자연수 중 3의 배수의 합은 110568
1부터 1000까지의 자연수 중 3의 배수의 합은 111384
1부터 1000까지의 자연수 중 3의 배수의 합은 112203
1부터 1000까지의 자연수 중 3의 배수의 합은 113025
1부터 1000까지의 자연수 중 3의 배수의 합은 113850
1부터 1000까지의 자연수 중 3의 배수의 합은 114678
1부터 1000까지의 자연수 중 3의 배수의 합은 115509
1부터 1000까지의 자연수 중 3의 배수의 합은 116343
1부터 1000까지의 자연수 중 3의 배수의 합은 117180
1부터 1000까지의 자연수 중 3의 배수의 합은 118020
1부터 1000까지의 자연수 중 3의 배수의 합은 118863
1부터 1000까지의 자연수 중 3의 배수의 합은 119709
1부터 1000까지의 자연수 중 3의 배수의 합은 120558
1부터 1000까지의 자연수 중 3의 배수의 합은 121410
1부터 1000까지의 자연수 중 3의 배수의 합은 122265
1부터 1000까지의 자연수 중 3의 배수의 합은 123123
1부터 1000까지의 자연수 중 3의 배수의 합은 123984
1부터 1000까지의 자연수 중 3의 배수의 합은 124848
1부터 1000까지의 자연수 중 3의 배수의 합은 125715
1부터 1000까지의 자연수 중 3의 배수의 합은 126585
1부터 1000까지의 자연수 중 3의 배수의 합은 127458
1부터 1000까지의 자연수 중 3의 배수의 합은 128334
1부터 1000까지의 자연수 중 3의 배수의 합은 129213
1부터 1000까지의 자연수 중 3의 배수의 합은 130095
1부터 1000까지의 자연수 중 3의 배수의 합은 130980
1부터 1000까지의 자연수 중 3의 배수의 합은 131868
1부터 1000까지의 자연수 중 3의 배수의 합은 132759
1부터 1000까지의 자연수 중 3의 배수의 합은 133653
1부터 1000까지의 자연수 중 3의 배수의 합은 134550
1부터 1000까지의 자연수 중 3의 배수의 합은 135450
1부터 1000까지의 자연수 중 3의 배수의 합은 136353
1부터 1000까지의 자연수 중 3의 배수의 합은 137259
1부터 1000까지의 자연수 중 3의 배수의 합은 138168
1부터 1000까지의 자연수 중 3의 배수의 합은 139080
1부터 1000까지의 자연수 중 3의 배수의 합은 139995
1부터 1000까지의 자연수 중 3의 배수의 합은 140913
1부터 1000까지의 자연수 중 3의 배수의 합은 141834
1부터 1000까지의 자연수 중 3의 배수의 합은 142758
1부터 1000까지의 자연수 중 3의 배수의 합은 143685
1부터 1000까지의 자연수 중 3의 배수의 합은 144615
1부터 1000까지의 자연수 중 3의 배수의 합은 145548
1부터 1000까지의 자연수 중 3의 배수의 합은 146484
1부터 1000까지의 자연수 중 3의 배수의 합은 147423
1부터 1000까지의 자연수 중 3의 배수의 합은 148365
1부터 1000까지의 자연수 중 3의 배수의 합은 149310
1부터 1000까지의 자연수 중 3의 배수의 합은 150258
1부터 1000까지의 자연수 중 3의 배수의 합은 151209
1부터 1000까지의 자연수 중 3의 배수의 합은 152163
1부터 1000까지의 자연수 중 3의 배수의 합은 153120
1부터 1000까지의 자연수 중 3의 배수의 합은 154080
1부터 1000까지의 자연수 중 3의 배수의 합은 155043
1부터 1000까지의 자연수 중 3의 배수의 합은 156009
1부터 1000까지의 자연수 중 3의 배수의 합은 156978
1부터 1000까지의 자연수 중 3의 배수의 합은 157950
1부터 1000까지의 자연수 중 3의 배수의 합은 158925
1부터 1000까지의 자연수 중 3의 배수의 합은 159903
1부터 1000까지의 자연수 중 3의 배수의 합은 160884
1부터 1000까지의 자연수 중 3의 배수의 합은 161868
1부터 1000까지의 자연수 중 3의 배수의 합은 162855
1부터 1000까지의 자연수 중 3의 배수의 합은 163845
1부터 1000까지의 자연수 중 3의 배수의 합은 164838
1부터 1000까지의 자연수 중 3의 배수의 합은 165834
1부터 1000까지의 자연수 중 3의 배수의 합은 166833


## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [0]:
# [Q3] Code
star = 0
while star <5:
  star = star+1
  print("*" * star)
  if star == 5 : break

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [0]:
# [Q4] Code
 for num in range(1,101):
   print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [0]:
# [Q5] Code
A = [70,60,55,75,95,90,80,80,85,100]
sum = 0
for num in A:
  sum += num
  avg = sum / len(A)
  print(avg)

7.0
13.0
18.5
26.0
35.5
44.5
52.5
60.5
69.0
79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [0]:
# [Q6] Code
numbers = [1,2,3,4,5]

result = [n*2 for n in numbers if n%2 ==1]
print(result)
[2,6,10]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [0]:
# [Q7] Code-1
파이썬 = 91
영어 = 67
수학 = 88
물리 = 75

(파이썬  + 영어 + 수학 + 물리 ) / 4

80.25

In [0]:
# [Q7] Code
a = [91,67,88,75]
total = 0
for score in a:
  total += score
  average = total / len(a)
  print(average)

22.75
39.5
61.5
80.25

In [0]:
# [Q7] Code-3
a = [91,67,88,75]
i = 0
sum = 0
print(len(a))
while i < len(a):
  sum +=a[i]
  i+=1
  print(sum)
  print(sum/len(a))

4
91
22.75
158
39.5
246
61.5
321
80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb